# CI.yaml --- Github action workflow definition
---

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - 29.1
          - 29.2
          - 29.3
          - 29.4
          - 30.1
          - snapshot

    name: Emacs ${{ matrix.emacs_version }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install GCC
      uses: egor-tensin/setup-gcc@v1
      with:
        version: latest
        platform: x64

    - name: Install Emacs
      uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}

    - name: Install Cask
      uses: cask/setup-cask@master
      with:
        version: snapshot

    - name: Update PATH
      run: echo "$HOME/.cask/bin" >> $GITHUB_PATH

    - name: Byte Compile
      run: make compile

    - name: Compile grammar
      run: make grammar

    - name: Run Tests
      run: make check

    - name: Run Lint
      run: make lint
